@import url("style/normalize.css");
a{
    text-decoration:none;
    font-size:xx-large;
}
@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("../font/Alimama_ShuHeiTi_Bold.woff2") format("woff2"),
    url("../font/Alimama_ShuHeiTi_Bold.woff") format("woff");
    font-display: swap;
}
div{
    font-family:"阿里妈妈数黑体 Bold" ;
}
body {
    background-color: white;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: burlywood;
    height: 1400px;
    width: 1400px;
}
main #chs{
    display: flex;
    width: 96%;
    height: 8%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: white;
}
main #chs .dch{
    display: flex;
    width: 20%;
    height: 54%;
    margin-top: 2%;
    margin-left: 4%;
    background-color:aqua;
}
main #chs .dch:hover{background-color: skyblue;}
main #intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    height: 50%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: white;
}
main #intro #image{
    width: 30%;
    height: 52%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
}
main #intro #image img{
    width: 100%;height: auto;
}
main #intro #info{
    width: 64%;
    height: 30%;
    margin-top: 2%;
    background-color:aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
main #intro #info .pros{
    display: flex;
    width: 90%;
    height: 75%;
    background-color: white;
    margin: auto;
}
main #intro #brief{
    width: 60%;
    height: 50%;
    margin-top: -12%;
    margin-left: 34%;
    background-color:aqua;
    padding: 2%;
    overflow-y: scroll;
}
@media (max-width: 992px) {
    main {
        width: 100%;
        height: auto;
    }
    main #chs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
    main #chs .dch{
        display: flex;
        width: 70%;
        margin:auto;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        height: auto;
    }
    main #intro{
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    main #intro #image{
        width: 100%;
        margin: auto;
    }
    main #intro #image img{
        width: 50%;
        height: auto;
        margin-left: 25%;
        margin-top: 2%;
    }
    main #intro #info{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin:auto;
        height: auto;
    }
    main #intro #info .pros{
        width: 55%;
        display: flex;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    main #intro #brief{
        width: 96%;
        margin:auto;
        height: auto;
    }

}
