a{text-decoration:none}
body {
    background-color: white;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: burlywood;
    height: 800px;
    width: 1400px;
    border-radius: 15px;
}
main #top{
    height: 60%;
    width: 96%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;
    background-color:white;
    border-radius: 15px;
    border-style:solid;
    border-width:thin;
}

